In [1]:
import pdal
import json
import geopandas
import pandas as pd
from shapely.geometry import Polygon, Point
import numpy as np

In [2]:
# loading json file
def read_json(json_path):
    try:
        with open(json_path) as js:
            json_obj = json.load(js)
        return json_obj

    except FileNotFoundError:
        print('File not found.')

In [5]:
dicti = read_json("pdal.json")

In [6]:
pipe = pdal.Pipeline(json.dumps(dicti))
pipe

In [7]:
pipe.execute()

2

In [8]:
pipe.arrays

[array([(1, 0, 56180.84262338, 52, 2, 17583, 85, 1, 8., 0, 69, 446112.7609777 , 4652587.53359158, 301.01),
        (2, 0, 56180.85993333, 17, 2, 17583, 85, 2, 8., 1, 69, 446112.59718192, 4652586.53452852, 290.58)],
       dtype=[('Classification', 'u1'), ('EdgeOfFlightLine', 'u1'), ('GpsTime', '<f8'), ('Intensity', '<u2'), ('NumberOfReturns', 'u1'), ('OriginId', '<u4'), ('PointSourceId', '<u2'), ('ReturnNumber', 'u1'), ('ScanAngleRank', '<f4'), ('ScanDirectionFlag', 'u1'), ('UserData', 'u1'), ('X', '<f8'), ('Y', '<f8'), ('Z', '<f8')])]

In [9]:
data = pd.read_csv("iowa.csv")
data2 = data.iloc[:,-3:]
data2

            X            Y       Z
0  446112.761  4652587.534  301.01
1  446112.597  4652586.535  290.58

In [31]:
def generate_geo(pipe, epsg):
    try:
        cloud_points = []
        elevations =[]
        geometry_points=[]
        for row in pipe.arrays[0]:
            lst = row.tolist()[-3:]
            print(lst, type(lst))
            cloud_points.append(lst)
            elevations.append(lst[2])
            point = Point(lst[0], lst[1])
            geometry_points.append(point)
        geodf = geopandas.GeoDataFrame(columns=["elevation", "geometry"])
        geodf['elevation'] = elevations
        geodf['geometry'] = geometry_points
        geodf = geodf.set_geometry("geometry")
        geodf.set_crs(epsg = epsg, inplace=True)
        return geodf
    except RuntimeError as e:
        self.logger.exception('fails to extract geo data frame')
        print(e)

In [32]:
generate_geo(pipe, 4326)

(446112.76097769843, 4652587.5335915815, 301.01) <class 'tuple'>
(446112.5971819214, 4652586.534528519, 290.58) <class 'tuple'>

   elevation                            geometry
0     301.01  POINT (446112.76098 4652587.53359)
1     290.58  POINT (446112.59718 4652586.53453)

In [14]:
geodf = geopandas.GeoDataFrame(columns=["elevation", "geometry"])
geodf["elevation"] = data2["Z"]
def applyPoint(x):
    x2 = x.to_list()
    return Point(x2[0], x2[1])

geodf["geometry"] = data2[["X", "Y"]].apply(lambda x: applyPoint(x))
geodf

/home/ben/anaconda3/envs/week7/lib/python3.10/site-packages/pandas/core/dtypes/cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

   elevation geometry
0     301.01     None
1     290.58     None