In [37]:
import pdal
import json
import geopandas
import pandas as pd
from shapely.geometry import Polygon, Point
import numpy as np

In [38]:
# loading json file
def read_json(json_path):
    try:
        with open(json_path) as js:
            json_obj = json.load(js)
        return json_obj

    except FileNotFoundError:
        print('File not found.')

In [39]:
dicti = read_json("pdal.json")

In [40]:
pipe = pdal.Pipeline(json.dumps(dicti))
pipe

In [41]:
pipe.execute()

3258

In [42]:
pipe.arrays

[array([(2, 0, 56179.61983638, 106, 1, 17583, 85, 1, 4., 1, 69, 446184.5579387 , 4652659.28445827, 287.2 ),
        (2, 0, 56179.61985671,  82, 1, 17583, 85, 1, 4., 1, 69, 446181.45913405, 4652659.62658105, 291.26),
        (2, 0, 56179.63088507,  84, 1, 17583, 85, 1, 4., 0, 69, 446176.75123328, 4652659.62525296, 291.28),
        ...,
        (1, 0, 56180.69455866,   5, 1, 17583, 85, 1, 8., 1, 69, 446128.45817959, 4652595.8836282 , 297.23),
        (2, 0, 56180.72217532,   4, 2, 17583, 85, 2, 8., 1, 69, 446115.83049553, 4652596.03881521, 290.38),
        (1, 0, 56180.749731  ,  73, 1, 17583, 85, 1, 8., 1, 69, 446116.98445083, 4652593.25883094, 309.45)],
       dtype=[('Classification', 'u1'), ('EdgeOfFlightLine', 'u1'), ('GpsTime', '<f8'), ('Intensity', '<u2'), ('NumberOfReturns', 'u1'), ('OriginId', '<u4'), ('PointSourceId', '<u2'), ('ReturnNumber', 'u1'), ('ScanAngleRank', '<f4'), ('ScanDirectionFlag', 'u1'), ('UserData', 'u1'), ('X', '<f8'), ('Y', '<f8'), ('Z', '<f8')])]

In [43]:
data = pd.read_csv("iowa.csv")
data2 = data.iloc[:,-3:]
data2

               X            Y       Z
0     446184.558  4652659.284  287.20
1     446181.459  4652659.627  291.26
2     446176.751  4652659.625  291.28
3     446178.519  4652659.353  291.24
4     446186.870  4652657.259  287.15
...          ...          ...     ...
3253  446148.149  4652596.394  288.54
3254  446179.766  4652591.508  290.19
3255  446128.458  4652595.884  297.23
3256  446115.830  4652596.039  290.38
3257  446116.984  4652593.259  309.45

[3258 rows x 3 columns]

In [ ]:
import geopandas as gpd
from shapely.geometry import Polygon

lat_point_list = [50.854457, 52.518172, 50.072651, 48.853033, 50.854457]
lon_point_list = [4.377184, 13.407759, 14.435935, 2.349553, 4.377184]

polygon_geom = Polygon(zip(lon_point_list, lat_point_list))
crs = {'init': 'epsg:4326'}
polygon = gpd.GeoDataFrame(index=[0], crs=crs, geometry=[polygon_geom])       

polygon.to_file(filename='polygon.geojson', driver='GeoJSON')
polygon.to_file(filename='polygon.shp', driver="ESRI Shapefile")

In [ ]:
import folium
m = folium.Map([50.854457, 4.377184], zoom_start=5, tiles='cartodbpositron')
folium.GeoJson(polygon).add_to(m)
folium.LatLngPopup().add_to(m)
m

In [47]:
def generate_geo(pipe, epsg):
    try:
        cloud_points = []
        elevations =[]
        geometry_points=[]
        for row in pipe.arrays[0]:
            lst = row.tolist()[-3:]
            cloud_points.append(lst)
            elevations.append(lst[2])
            point = Point(lst[0], lst[1])
            geometry_points.append(point)
        geodf = geopandas.GeoDataFrame(columns=["elevation", "geometry"])
        geodf['elevation'] = elevations
        geodf['geometry'] = geometry_points
        geodf = geodf.set_geometry("geometry")
        geodf.set_crs(epsg = epsg, inplace=True)
        return geodf
    except RuntimeError as e:
        self.logger.exception('fails to extract geo data frame')
        print(e)

In [48]:
generate_geo(pipe, 4326)

      elevation                            geometry
0        287.20  POINT (446184.55794 4652659.28446)
1        291.26  POINT (446181.45913 4652659.62658)
2        291.28  POINT (446176.75123 4652659.62525)
3        291.24  POINT (446178.51927 4652659.35250)
4        287.15  POINT (446186.87045 4652657.25891)
...         ...                                 ...
3253     288.54  POINT (446148.14911 4652596.39358)
3254     290.19  POINT (446179.76592 4652591.50776)
3255     297.23  POINT (446128.45818 4652595.88363)
3256     290.38  POINT (446115.83050 4652596.03882)
3257     309.45  POINT (446116.98445 4652593.25883)

[3258 rows x 2 columns]