In [24]:
import pdal
import json
import geopandas
import pandas as pd
from shapely.geometry import Polygon, Point
import numpy as np

In [7]:
# loading json file
def read_json(json_path):
    try:
        with open(json_path) as js:
            json_obj = json.load(js)
        return json_obj

    except FileNotFoundError:
        print('File not found.')

In [8]:
dicti = read_json("./LIDAR_ETL/experiments/pdal.json")

In [9]:
pipe = pdal.Pipeline(json.dumps(dicti))
pipe

In [10]:
pipe.execute()

2

In [11]:
pipe.arrays

[array([(1, 0, 56180.84262338, 52, 2, 17583, 85, 1, 8., 0, 69, 446112.7609777 , 4652587.53359158, 301.01),
        (2, 0, 56180.85993333, 17, 2, 17583, 85, 2, 8., 1, 69, 446112.59718192, 4652586.53452852, 290.58)],
       dtype=[('Classification', 'u1'), ('EdgeOfFlightLine', 'u1'), ('GpsTime', '<f8'), ('Intensity', '<u2'), ('NumberOfReturns', 'u1'), ('OriginId', '<u4'), ('PointSourceId', '<u2'), ('ReturnNumber', 'u1'), ('ScanAngleRank', '<f4'), ('ScanDirectionFlag', 'u1'), ('UserData', 'u1'), ('X', '<f8'), ('Y', '<f8'), ('Z', '<f8')])]

In [18]:
data = pd.read_csv("iowa.csv")
data2 = data.iloc[:,-3:]
data2

            X            Y       Z
0  446112.761  4652587.534  301.01
1  446112.597  4652586.535  290.58

In [27]:
geodf = geopandas.GeoDataFrame(columns=["elevation", "geometry"])
geodf["elevation"] = data2["Z"]
geodf["geometry"] = data2[["X", "Y"]].apply(lambda x: print(type(x.to_numpy())))
geodf

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

   elevation geometry
0     301.01     None
1     290.58     None